body{
    background-image: url(https://images.unsplash.com/photo-1503914068268-5413b35b45ad?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b2568f8a73071d542cf7ac5508011ad&auto=format&fit=crop&w=1050&q=80); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;

}


.link{
  text-align: center !important;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.5);
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Signika', sans-serif;
  margin: auto;
  width: 50%;
}

.container{
	padding-top: 50px;
  font-family: 'Signika', sans-serif;
}

#preloader {
  background-color: #66ccff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; 
}
#preloader .spinner {
    width: 40px;
    height: 40px;
    background-color: #ff6699;
    margin: auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out; 
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }

.table thead th {
  vertical-align: middle;
  text-align: center !important;
}
