body{
  background-image: url(https://wallpapersite.com/images/wallpapers/autumn-leaves-3900x2600-hd-4k-3544.jpg); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}

.title{
    margin-top: 20px;
    font-family: 'Pacifico', cursive; 
    color: black; 
    text-align: center;
}

.row {
            display: flex;
            justify-content: center;
}

#status{
            text-align: center;
            padding-left: 20px;
}

#stat{
            text-align: center;
}

.col-sm-12{
    background-color: rgb(255,153,204); /* Fallback color */
    background-color: rgba(255,153,204, 0.7);
    border-radius: 36px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Bree Serif', serif;
    font-size: 20px;
    text-align: center;
}
#subs_form{
    background-color: rgb(255,225,71); /* Fallback color */
    background-color: rgba(255,225,71, 0.8);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    border-radius: 30px;
}
.container{
	padding-top: 50px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


/* Preloader/Spinner */

#preloader {
  background-color: #66ccff;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; 
}
#preloader .spinner {
    width: 40px;
    height: 40px;
    background-color: #ff6699;
    margin: auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out; 
}
@-webkit-keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
@keyframes sk-rotateplane {
  0% {
    -webkit-transform: perspective(120px);
    transform: perspective(120px); }
  50% {
    -webkit-transform: perspective(120px) rotateY(180deg);
    transform: perspective(120px) rotateY(180deg); }
  100% {
    -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    transform: perspective(120px) rotateY(180deg) rotateX(180deg); } }
