<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
</style>
    {% load crispy_forms_tags %}
    <style>
        body{
            text-align: center;
            margin: 1em auto;
            max-width: 75%;
        }
        .header{
            font-size:40px;
            text-align:center;
            font-family: 'PT Sans', sans-serif;
        }
        .foto{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 30%;
            border-radius: 7px 7px 0 0;

        }

        .accordion dt{
            background: #eedd82;
            border-bottom: 1px /*solid #FFDAB9;*/
            border-radius: 7px 7px 0 0;
            color: white;
            font-size: 1.5em;
            margin-top: 0.222em;
            padding: 0.5em 1em;
        }

        .accordion dd{
            border: 1px solid #eedd82;
            border-top: none;
            border-radius: 0 0 7px 7px;
            padding: 1em;
        }

        .active .accordion dt{
            background-color: #ccc;
        }

        p{
            font-family: 'Lora', serif;
        }

        .font-style{
            font-family: 'Lora', serif;
        }


    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    
    
</head>

	<body onload="myFunction()" style="background: linear-gradient(150deg, #FFFFE0, #FFEFD5, #FFE4B5, #FFDAB9, #EEE8AA, #F0E68C, #BDB76B);">

        <div id="loader"></div>

<div style="display:none;" id="myDiv" class="animate-bottom">
  <h2 class="font-style" style="font-size: 30px;">Welcome to my page!</h2>
</div>

<script>
var myVar;

function myFunction() {
    myVar = setTimeout(showPage, 3000);
}

function showPage() {
  document.getElementById("loader").style.display = "none";
  document.getElementById("myDiv").style.display = "block";
}
</script>
        
        <div id="preloader">
            <div class="spinner"></div>
        </div>

		<!-- <h1 class="header">Hey there, whats up?</h1> -->
		<form method="POST" action="\">
			{% csrf_token %}
            {% for field in form %}
                <p> {{field.label_tag}} {{field}} </p>
            {% endfor %}


            <div class="post-button">
    		  <button id='submit' type="submit" value="Post">SUBMIT</button>
            </div>
    	</form>
    	<br>
    	
    	<div>
    	{% if lstStatus %}
    		{% for status in lstStatus %}
    			<td>{{ status.status }}</td>
    		{% endfor %}
    	{% endif %}
      </div>
      <br>
      <a href="{% url 'delete_new' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true" float="center">Delete Status</a><br><br>

        <br>
        <br>
        <h1 class="header">Rafika Balqis's Profile</h1>
        <img src="https://scontent-sin2-1.xx.fbcdn.net/v/t1.0-9/46512358_2387715311243284_5865860835871555584_n.jpg?_nc_cat=108&_nc_ht=scontent-sin2-1.xx&oh=2e91ee536bfa3e52c7fffbb56280ada6&oe=5CB11EF5" border="5" class="foto"/>
        <p style="text-align:center;font-size:20px;">Nama Lengkap: Rafika Putri Balqis<br>
        NPM: 1706023681<br>
        Institusi: Universitas Indonesia<br>
        Umur: 19<br>
        Hobi: Jalan - Jalan<br>
        Cita - Cita: bahagia deh pokoknya<br>
        Deskripsi Diri: saya orangnya ramah baik hati dan tidak sombong<br>
        Social Media: <a href="https://instagram.com/rafikapebe" target="_blank">instagram</a> <a href="https://twitter.com/rafikaapebe" target="_blank">twitter</a> </p>

        <br>
        <br>
        

        <button type="button" class="btn btn-dark"><a href="{% url 'subscribe' %}" style="color: orange;">Subscribe Me!</a></button>

        <d1 class = "accordion" id="iseng">
            <h3 class="font-style">see details here</h3>
            <dt>Activities</dt>
            <dd>
                <ul>  Menjalani Perkuliahan di Fasilkom UI Sepenuh Hati </ul>
            </dd>

            <dt>Experiences</dt>
            <dd>
                <ul>
                    <li>  Staff Humas DPM Fasilkom UI 2018</li><br>
                    <li>  Humas Universiade 2017 </li><br>
                    <li>  Humas & Publikasi OH Fasilkom 2017</li><br>
                    <li>  Liaison Officer Wisuga Ganjil Fasilkom 2018</li><br>
                    <li>  Humas CGT 2018</li><br>
                    <li>  Fundraising Compfest X 2018</li><br>
                    <li>  Humas Wisuda Genap Fasilkom 2018</li><br>
                    <li>  Mentor OKK UI 2018</li><br>
                    <li>  Liaison Officer OH Fasilkom 2018</li><br>
                    <li>  Liaison Officer the7th UI Art War 2018</li><br>
                    <li>  Dana Usaha CGT 2019</li><br>
                </ul>
            </dd>

            <dt>Achievement</dt>
            <dd>
                <ul> 20 Besar Olimpiade Matematika Nasional - SDN Menteng 01 Pagi </ul>
            </dd>
        </d1>
        <br>
        <br>
        
        <script>
            $(document).ready(function(){
                $(".accordion").find("dd").hide();
                $(".accordion").find("dt").click(function(){
                    $(this).next("dd").slideToggle();
                });
            })
        </script>

        <button type="button" class="btn btn-primary">switch theme</button>
        <script>
        $(document).ready(function() {
    
    $("button").click(function(){
      if($("body").css("background-color") == "rgb(255, 223, 186)") {
        $("body").css("background-color", "rgb(255, 255, 186)");
        } else {
        $("body").css("background-color", "rgb(255, 223, 186)");
      }     
    });
    
    var acc = document.getElementsByClassName("accordion");
    var i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.maxHeight){
          panel.style.maxHeight = null;
        } else {
          panel.style.maxHeight = panel.scrollHeight + "px";
        } 
      });
  }
  
}); 

        </script>

        
	</body>
</html>

